.item {
  width: 345px;
  .media {
    height: 170px;
  }
  .content {
    background-color: #f8f7f9ba;
  }
  .actions{
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 1139px) {
    margin-bottom: 30px;
  }
}

